#container
{
	margin: 0 30px;
	background: #eee;
	
}

#header
{
	background: #82C46C;
	padding: 50px;
	
}

#header h1 { margin: 0; }

#navigation
{
	float: center;
	width: 100%;
	background: #7BA05B;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #125435;
	text-decoration: bold;
	border-right: 3px solid #fff;
}

#navigation li a:hover { background: #ff1287; }

#edito
{
	clear: left;
	padding: 40px;
	margin: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 6px #00ff00;
	box-shadow: 0px 0px 6px #00ff00;
	background-image: -webkit-gradient(linear, left top, right top, from(#00ff00), to(#00ff00));
	background-image: -webkit-linear-gradient(left, #00ff00, #00ff00);
	background-image: linear-gradient(left, #00ff00, #00ff00);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
}

#edito h2
{
	color: #ff0f12;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	float: left;
	width: 40%;
	padding: 2px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #00ff00;
	box-shadow: 0px 0px 6px #00ff00;
	background-image: -webkit-gradient(linear, left top, right top, from(#00ff00), to(#00ff00));
	background-image: -webkit-linear-gradient(left, #00ff00, #00ff00);
	background-image: linear-gradient(left, #00ff00, #00ff00);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
}

#footer
{
	clear: both;
	background: #82C46C;
	text-align: center;
	padding: 15px;
	height: 3%;
}
